// Settings
@font-face {
  font-family: 'Elaine Sans';
  src: url('/fonts/elainesans-regular.woff2') format('woff2'),
       url('/fonts/elainesans-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Elaine Sans';
  src: url('/fonts/elainesans-bold.woff2') format('woff2'),
       url('/fonts/elainesans-bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Elaine Sans';
  src: url('/fonts/elainesans-italic.woff2') format('woff2'),
       url('/fonts/elainesans-italic.woff2') format('woff');
  font-weight: normal;
  font-style: italic;
}

:root {
  --background: #f5f5f5;
  --text: #333;
  --main:  #758e16;
  --terminalbg: #fff;
  --terminalascii: #000;
  --terminalbar: #bbb;
  --terminalhost: #ad432f;
  --terminalpath: #5eb7c4;
}

// General styles
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Elaine Sans', sans-serif;
  height: 100%;
  position: relative;
  min-width: 360px;
}

img {
  max-width: 100%;
}

h2 {
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h3,
h4 {
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
  line-height: 1.4;
}

a {
  color: var(--main);
  text-decoration: none;
}

main {
  ul {
    margin-left: 1em;
  }

  li {
    margin-bottom: 1em;
    line-height: 1.4;
  }
}

blockquote {
  font-style: italic;
  border-left: 5px solid var(--main);
  margin-left: 10px;
  padding-left: 10px;
}

// Colour-scheme toggle styles
.wrapper {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.4s ease-out;
  min-height: 100%;
}

.colour-scheme:checked ~ .wrapper .social-icon {
  filter: hue-rotate(55deg);
}

.scheme-toggle {
  cursor: pointer;
}

.scheme-toggle .light {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 10;
  width: 2.7em;
  height: 3.2em;
}

.scheme-toggle .dark {
  position: absolute;
  left: 1.6em;
  top: 1.5em;
  z-index: 11;
  width: 2.2em;
  height: 3em;
  transform-origin: 0 100%;
  transform: rotate(-15deg) translateY(1px);
  transition: transform 0.7s ease-out;
}

.colour-scheme:checked ~ .scheme-toggle .dark {
  transform: rotate(6deg) translateX(8px);
}

// Sidebar styles
.site-header {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  display: flex;
}

.site-title h1 {
  padding-bottom: 0.5em;
  text-align: center;
  color: var(--text);
  margin-left: 1em;
}

.profile-img {
  border-radius: 50%;
  border: 4px solid var(--main);
  width: 4em;
}

.social-links {
  a {
    transition: 0.4s ease-out;
  }

  a:hover .social-icon {
    transform: scale(1.1);
  }
}

.social-icon {
  width: 2em;
  height: 2em;
}

// Homepage listing styles
.post-list {
  column-width: 20em;
  padding: 1.5em;
  margin-left: 0;
}

.post-list li {
  break-inside: avoid;
  margin: 1.5em 0.5em;
  border-top: 3px dotted var(--main);
  border-left: 3px dotted var(--main);
  box-shadow: 4px 4px 0 0 var(--main);
}

.post-list li:first-child {
  margin-top: 0;
}

.post-image {
  width: 100%;
}

.list-content {
  padding: 0.5em 1em 1em;
  display: flex;
  flex-direction: column;
}

.post-meta {
  display: inline-block;
  margin-bottom: 0.5em;
}

.post-summary {
  margin-bottom: 0.5em;
}

.right-link {
  align-self: flex-end;
}

// Single page styles
.single {
  padding: 1em;
  max-width: 45em;
  margin: 0 auto;
}

.single code[class*="language-"],
.single pre[class*="language-"] {
    color: var(--terminalpath);
}

.single table {
  width: 100%;
}

.single table thead {
  text-align: left;
}

.page-header {
  color: var(--main);
  margin-bottom: 0.5em;
}

.page-header__title {
  line-height: 1.2;
}

.page-header__title img{
  height: 1em;
  padding-top: 0.1em;
}

.page-header__title a{
  float: right;
}

.page-content twitter-widget {
  margin: auto;
}

.section-box {
  padding: 1em;
  margin: 0 1.5em;
  border-top: 3px dotted var(--main);
  border-left: 3px dotted var(--main);
  box-shadow: inset -4px -4px 0 0 var(--main);
}

.post-image {
  margin-bottom: 1em;
}

// Footer styles
footer {
  border-top: 2px dotted var(--main);
  padding: 0.5em 1em 1em;
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
}

// Viewport-specific adjustments
@media screen and (max-width: 514px) {
  .site-header {
    text-align: center;
    padding: 0.5em;
  }

  .profile-img {
    display: none;
  }

  .site-title h1 {
    margin-left: 0;
  }
}

@media screen and (max-width: 799px) {
  .social-links li,
  .nav-links li {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 675px) and (max-width: 799px) {
  .social-links {
    display: flex;
  }

  .social-icon {
    margin-right: 2em;
  }

  .site-title h1 {
    margin-right: 1em;
  }
}

@media screen and (min-width: 800px) {
  .scheme-toggle .light {
    position: fixed;
    left: 13em;
    top: 13em;
  }

  .scheme-toggle .dark {
    position: fixed;
    left: 13.6em;
    top: 13.5em;
  }

  main {
    display: block;
    position: relative;
    left: 18em;
    width: calc(100vw - 19em);
    padding-bottom: 1em;
  }

  .site-header {
    padding: 1.5em;
    width: 15rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: calc(100% - 3em);
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }

  .site-title {
    display: block;
  }

  .site-title h1 {
    margin-bottom: 0.5em;
    margin-left: 0;
  }

  .profile-img {
    width: initial;
  }

  .social-links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
  }

  .social-icon {
    height: 2.5em;
    width: 2.5em;
  }

  .nav-links li {
    margin-bottom: 1.5em;
    position: relative;
    display: flex;
  }

  .nav-link {
    display: inline-block;
    background-color: var(--main);
    color: var(--background);
    font-size: 1.2em;
    padding: 0.5em 0.75em;
    white-space: nowrap;
  }

  .nav-links li::after {
    display: block;
    content: ' ';
    color: transparent;
    width: 100%;
    background-image: repeating-linear-gradient(90deg, var(--main), var(--main) 2px, transparent 0, transparent 10px);
  }

  .page-header {
    padding: 1.5em 0 1em;
  }

  .devtricks {
    padding-top: 1.5em;
  }

  .section-box {
    padding-top: 1em;
  }

  footer {
    position: fixed;
    left: 1em;
    bottom: 1em;
    width: 17rem;
    padding: initial;
    padding-top: 0.5em;
  }

  @media screen and (max-height: 665px) {
    .scheme-toggle .light {
      font-size: calc(0.6em + 0.3vh);
      left: 15em;
      top: 7em;
    }

    .scheme-toggle .dark {
      font-size: calc(0.6em + 0.3vh);
      left: 15.6em;
      top: 7.5em;
    }

    .site-header {
      display: block;
      font-size: calc(0.6em + 0.3vh);
      text-align: center;
    }

    .profile-img {
      width: calc(5em + 10vh);
    }

    footer {
      width: 15rem;
    }
  }

  @media screen and (max-height: 400px) {
    .site-header {
      overflow-y: scroll;
      bottom: 5em;
      height: calc(100vh - 9em);
    }
  }
}

// Utility styles
.no-list-style {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
}

.header-decoration {
  position: relative;
  border-bottom: 3px dotted var(--main);
  padding-bottom: 0.75em;

  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    display: block;
    width: 100%;
    border-bottom: 3px dotted var(--main);
  }
}

// IE11 workarounds/adjustments
@media screen and (min-width: 800px) and (-ms-high-contrast: none) {
  .site-header {
    display: block;
  }

  .site-title {
    text-align: center;
  }

  .profile-img {
    width: calc(5em + 10vh);
  }

  .social-links {
    justify-content: space-between;
  }

  footer {
    width: 15rem;
  }
}

// 404 page styles
.\34 04 {
  height: 100%;

  .scheme-toggle .light {
    position: absolute;
    left: 1em;
    top: 1em;
    z-index: 10;
    width: 2.7em;
    height: 3.2em;
  }

  .scheme-toggle .dark {
    position: absolute;
    left: 1.6em;
    top: 1.5em;
    z-index: 11;
    width: 2.2em;
    height: 3em;
  }

  .wrapper {
    background-color: var(--background);
  }

  main {
    left: 0;
  }

  .ascii {
    color: var(--terminalascii)
  }

  .host {
    color: var(--terminalhost)
  }

  .path {
    color: var(--terminalpath)
  }

  .command span {
    display: inline-flex;
  }

  @media screen and (min-width: 480px) and (min-height: 555px) {
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
  }
}

.home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;

  img {
    border-radius: 50%;
    border: 4px solid var(--main);
    width: 8em;
    height: 8em;
    margin-right: 2em;
  }
}

.window {
  margin: auto;
  max-width: 50em;
  flex: 1;
  margin: 1em 1em 0;
  align-self: center;
  padding-bottom: 2em;
}

.title-buttons {
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  margin-right: 0.5em;
}

.title-buttons:first-child {
  background-color: #ff3b47;
  border-color: #9d252b;
}

.title-buttons:nth-child(2) {
  background-color: #ffc100;
  border-color: #9d802c;
}

.title-buttons:nth-child(3) {
  background-color: #00d742;
  border-color: #049931;
}

.title-bar {
  padding: 0.5em;
  background-color: var(--terminalbar);
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.terminal {
  background-color: var(--terminalbg);
  padding: 1em 1em 3em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  pre {
    margin-bottom: 1em;
  }

  p {
    font-size: 1.25em;
    font-family: monospace;
    color: var(--text);
    margin-bottom: 0.5em;
  }

  input {
    opacity: 0;
  }
}

.ascii {
  display: flex;
  flex-wrap: wrap;
}

.caret {
  animation: blink 1s infinite;
  margin-left: 0.25em;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
