<header class="site-header">
  <a class="site-title" href="/">
    <img class="profile-img lazyload" data-src="/img/code-avocado.png" alt="Developer Avocados">
    <h1 class="header-decoration">{{ .Site.Title }}</h1>
  </a>
  <ul class="social-links no-list-style">
    <li>
      <a href="https://twitter.com/DevRelAvocados">
        <img class="social-icon" src="/img/twitter.svg" alt="Twitter">
      </a>
    </li>
    <li>
      <a href="https://github.com/developeravocados/developeravocados.github.io/issues/new?template=content.md">
        <img class="social-icon" src="/img/github.svg" alt="GitHub">
      </a>
    </li>
    <li>
      <a href="https://developeravocados.net/">
        <img class="social-icon" src="/img/email.svg" alt="Newsletter">
      </a>
    </li>
  </ul>

  <ul class="nav-links no-list-style">
    <li>
      <a class="nav-link" href="/about/">About The Avocados</a>
    </li>
    <li>
      <a class="nav-link" href="/adventcado/2021/">Adventcado 2021</a>
    </li>
    <li>
      <a class="nav-link" href="/adventcado/2020/">Adventcado 2020</a>
    </li>
    <li>
      <a class="nav-link" href="https://developeravocados.net/">Newsletter</a>
    </li>
  </ul>
</header>
